html {
    background: url(https://4.bp.blogspot.com/-99heKgMbSqM/U67zz1m8hlI/AAAAAAABAVA/TsrztESEFFU/s0/Usual+things+on+a+desk-Ultra+HD.jpg);
    background-repeat: no-repeat;
    background-size: 2400px 1166px;
    background-position: center;
    background-color: antiquewhite;
}

#nextpage {
    text-decoration: none;
    color: white;
}

#boostlogo {
    height:118.5px;
    width:330px;
    margin-top: 17%;
}

#button {
    background-color: red;  
    border-radius: 4px;
    font-family: Helvetica;
    color: white;
    height: 40px;
    border-color: red;
}

.smlink {
    width: 40px;
    height: 40px;
    padding-left: 1.3rem;
}

#apply {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    padding-bottom: 6.25%;
}

#info {
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 1.2rem;
    font-family: Calibri Light;
    font-size: 12px;
}